body {
    background-color:  white;
    color: black;
    margin:0;
    font-family: monospace; 
    border:0   
}

h1.h3 {
    text-align:center;
    color:white;
}

h2 {
    text-align:center;
    color:black;
    
}

a {
    color:white;
    text-decoration: none;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:left;
    background-color:black;
    color:white;
  }

  ul.topnav li.right {
      float: right;
    }
  
  ul.topnav li {
      float: left;
 }
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


footer a, footer a:visited  {
    color:black;
    text-decoration: none;
}
   
.goback a:link {
        color:rgb(243, 22, 59);
}
.goback a:visited{
        color:rgb(243, 22, 59);

}
.goback a:hover {
        color:yellowgreen;
}

.goback a:active {
        color:rgb(243, 25, 59);
}

.goback {
    text-align:center;
    
}

img.imageformatteam {
    width: 100%;
}
 
.title {
background-color: black;
color:white;
display: inline-block;
width:20%;
margin: 0px;
}



.button {
    background-color: rgb(14, 13, 13); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    border: 3px solid rgb(65, 60, 60);
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.greeting {
    text-align: center;
    background-image: url("https://fairviewcatering.com/wp-content/uploads/2017/11/beer-background.jpg");
    background-size:100%;
    background-size: cover;
    height:95vh;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content: center;
    color: white;
    background-position: center;
}

.gallerygrid {
    display:grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.imageformatgallery {
       width:99%;
       }

.bigpic {
    width: 99%;
    margin-top: 1em;
    display: block;
     margin-left: auto;
  margin-right: auto;
    

}

.beergrid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1em;
    grid-gap: 0 1em;
    text-align: center;
    
}

.imageformatteamgrid {
    width:99%;
    }

.beerpic {
    width:99%;
}

.teamgrid {
    display:grid;
    place-items:center center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 1em;
    margin-right: 1em;
    grid-gap: 1em;
}

footer{
    text-align: center;
    margin-top: 10px;
}

@media all and (max-width: 1024px){

    .teamgrid {
    grid-template-columns: 1fr;
    }

    .gallerygrid {
        grid-template-columns: 1fr ;
    }

    .beergrid{
        grid-template-columns: 1fr ;

    } 
    
    .imageformatteam{
        align-items:center;
               
    }

    body {
        font-size: 22px;
    }
@media all and (max-width: 400px){

    .teamgrid {
        grid-template-columns: 1fr;
    }
            
    .gallerygrid {
     grid-template-columns: 1fr ;
    }
            
    .beergrid{
    grid-template-columns: 1fr ;
    } 
                
    .imageformatteam{
    align-items:center;
    }
            
    body {
    font-size: 10px;
    }
            